.slide {
	width: 100%;
	height: 100vh;
	background-color: black;
}

.content > * {
	max-width: 100%;
    max-height: 100%;
    min-height: 50%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
	z-index: 1;
}

.down_marked_content {
	font-size: 300%;
	position:relative;
	color:white;
	max-width:800px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:2;
}

.down_marked_content p,
.down_marked_content h1,
.down_marked_content h2,
.down_marked_content h3 {
	background-color:rgba(0, 0, 0, 0.7);
}

.slides article {
	margin-left: 2em;
	width: 100%;
	display: inline-block;
}

.box {
	float:left;
	width: 20%;
}


.content {
	margin-left: auto;
	margin-right: auto;
}

.html_body {
	margin-left: auto;
	margin-right: auto;
}

.slides table {
	text-align: left;

	width: 60%;
}

.slides td {
	width: 25%;
}

imagehandler > img {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 14em;
	height: 8em;
}

.content img {
	margin: auto
}
