@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

$cerise: #e83d84;
$blue: #3b5998;
$black: #141312;
$white: #fff;
$offwhite: #fdfafb;
$light-gray: #f4f4f4;
$orange: #ff6600;
$red: #d33333;
$teal: #2fa69a;

@mixin mobile() {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin tablet() {
    @media (max-width: 992px) {
        @content;
    }
}

$link: $teal;
a:link {
    color: $link;
    text-decoration: none;
}
a:visited {
    color: $link;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: $link;
}

html, body {
    height: 100%;
}

.btn.full-width {
    width: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", "Arial";
    line-height: 1.6;
    background: $offwhite;
    color: $black;
}

.card {
    color: $black;
}

.card-info {
    margin-right: 1em;
}

button {
    color: $white;
    border: none;
    border-radius: 4px;
}

body:hover > .hoverinfo {
    opacity: 1;
}

h3 {
    font-size: 2.5rem;
}

p {
    margin-top: 0.5em;
}

.main {
    width: 90vw;
    margin: 0 auto;
}

.main_header {
    background: $offwhite;
    color: $black;
    text-align: center;
    margin: 5rem auto;
}

.main_header h1 {
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
}

.infotext {
    text-align: justify;
    margin: auto;
}

.infotext .important {
    color: $orange;
    font-weight: bold;
}

iframe {
    width: 100%;
    overflow: hidden;
    border: none;
}

.slide .add-page {
    height: 100%;
    float: right;
    order: 4;
    .card {
        background: $light-gray;
    }
}

.add-slide {
    padding-left: 0 !important;
    @include tablet {
        padding-right: 0 !important;
    }
}

.filter-by-tags {
    padding-right: 0 !important;
    @include tablet {
        padding-left: 0 !important;
    }

}

.chip {
    font-size: 1.25em;
}

.chip span {
    cursor: pointer;
    font-size: 2rem;
    vertical-align: top;
    &:hover {
        color: $teal;
    }
}

.error {
    color: $red !important;
}

.links {
    display: none;
    background: $light-gray;
    color: $black;
    text-align: center;
    width: 100vw;
    padding: 1em 0;
    margin-bottom: 1em;
    position: absolute;
    top: 0;
    a {
        margin: 0 1em;
    }
}

.box {
    width: 14em;
    overflow: hidden;
    max-height: 14em;
    display: inline-block;
}

.box > * {
    transform: scale(0.3);
    transform-origin: 0 0;
}

.overview-bg {
    height: 100%;
    width: 100%;
    background-color: #333;
}

.clearfloat {
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slideinfo {
    width: 100%;
    margin-bottom: 1em;
}

.slide .card-info {
    @include mobile {
        display: block;
    }
}

.btn {
    @include mobile {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}

.slideinfo > table {
    width: 100%;
}

.page_flexbox {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    div {
        margin: auto;
    }
}

.vert_flexbox {
    display: flex;
    flex-direction: column;
}

.hori_flexbox {
    display: flex;
    flex-direction: row;
}

imagehandler > img {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 6em;
    margin-bottom: 0.5em;
}

imagehandler > iframe {
    width: 10em;
    height: 5.2em;
}

imagehandler > .weblink {
    font-size: 70%;
}

.page_editor {
    justify-content: space-between;
    width: 10em;
}

.page_editor > input {
    width: 2em;
}

.fot {
    background: $light-gray;
    color: $teal;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 5em;
    font-size: 1.05rem;
    .author {
        @include mobile {
            display: block;
            margin: 0 auto;
        }
        @media (min-width: 600px) {
            &:not(:first-child):before {
                content: " / ";
            }
        }
    }
}
