@import url(https://fonts.googleapis.com/css?family=Lato);

a:link {
    color:#e2007f;
    text-decoration: none;
}
a:visited {
    color:#e2007f;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color:#3b5998;
}

html, body {
    height: 100%;
}
body {
    background-color: #141312;    
}

.center_wrapper {
    background-image: url("http://www.datasektionen.se/images/background.png");
    width: 960px;
    margin: auto;
    margin-top: 2em;
    border-radius: 1em;
}

.main {
    width: 960px;
    font-family: Lato, Arial;
    margin: auto;
    color: #141312;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: center;
}

button {
    background: #b85f17;
    color: #1f3749;
    padding: 4px 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 100%;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
}



body:hover > .hoverinfo {
    opacity: 1;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0.5em;
}

.main_header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.infotext {
    text-align: left;
    margin-top: 15px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-top: 1px solid grey;
}

.infotext .important {
    color: #ff6600;
    font-weight: bold;
}

.slide_handler {
    margin-top: 15px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 20px;
}

#h1_slides {
    float:left;
}

#h2_history {
    float:right;
}

iframe {
    overflow: hidden;
    border: none;
}

.new_slide {
    width: 960px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
             flex-flow: row wrap;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: flex-start;
             align-items: flex-start;
    -webkit-align-content: flex-start;
             align-content: flex-start;
}
.tagfilter, .adder {
    margin: auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 30%;
    height: 300px;
}

.tagfilter {
    -webkit-flex: 3;
    flex: 3;
    margin-top: 15px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 55px;
    padding-left: 20px;
}

.adder {
    -webkit-flex: 4;
    flex: 4;
    margin-top: 15px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 55px;
    padding-left: 20px;
}

.fot {
    clear: both;
    text-align: center;
    padding-top: 20px;
    color: #444444;
    font-size: 65%;
}

.error {
    color: red;
}

.links {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
}

.box {
    width: 14em;
    overflow: hidden;
    max-height: 14em;
    display: inline-block;
}

.box > * {
    transform: scale(0.3);
    transform-origin: 0 0;
}

.overview-bg {
    height: 100%;
    width: 100%;
    background-color: #333;
}

.slides-wrapper {
    overflow: hidden;
    height: 100%;
}

.slide_display {
    margin-left: 0em;
    margin-bottom: 5em;
}

.clearfloat {
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slideinfo {
    width: 100%;
    margin-bottom: 1em;
}

.slideinfo > table {
    width: 100%;
}

.page_flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    width: 850px;
}

.vert_flexbox {
    display: flex;
    flex-direction: column;
}

.hori_flexbox {
    display: flex;
    flex-direction: row;
}

imagehandler > img {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 6em;
    margin-bottom: 0.5em;
}

imagehandler > iframe {
    width:10em; 
    height:5.2em;
}

imagehandler > .weblink{
    font-size: 70%
}

.page_editor {
    justify-content:space-between; 
    width:10em;
}

.page_editor > input {
    width: 2em;
}

.page_editor > button {
    font-size: 12px;
}

.send {
    font-size: 13px;
}
