<template name="addslides">
	<div class="add-slide col s12 m12 l6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Add slide</span>
				<div class="row">
					<div class="input-field col s12">
						{{#if currentUser}}
						<input id="txtName" type="text" name="name">
						{{else}}
						<input id="txtName" type="text" name="name" disabled>
						{{/if}}
						<label class="active" for="txtName">Name</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						{{#if currentUser}}
						<input id="expire" type="date" name="expire">
						{{else}}
						<input id="expire" type="date" name="expire" disabled>
						{{/if}}
						<label class="active" for="expire">Expiration date</label>
					</div>
				<!-- </div> -->
				<!-- <div class="row"> -->
					<div class="input-field col s12 m6">
						{{#if currentUser}}
						<input id="tags" class="tags" type="text" name="tags">
						{{else}}
						<input id="tags" class="tags" type="text" name="tags" disabled>
						{{/if}}
						<label class="active" for="tags">Tags</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{#if currentUser}}
						<button value="Create" class="createSlide btn">Create slide</button>
						{{else}}
						<button value="Create" class="createSlide btn disabled">Create slide</button>
						<p class="error">Please <a href="{{loginurl}}">log in</a> to create a slide</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
