<body>
	<div id="methone_header">
	</div>
</body>
<template name="dashboard">


	<div class="main">


		<div class="center_wrapper">

			<div class="main_header">
				<h1>META-TV</h1>
				{{#if currentUser}}
					Welcome {{currentUser.username}}! <a class="logout" href="#">Logout</a>
				{{else}}
				<a href="{{loginurl}}">KTH Login</a>
				{{/if}}
			</div>

			<div class="slide_handler">
				<h1 id="h1_slides">Slides</h1>
				<!--
				<h2 id="h2_history">
					<a href="/history">History</a>
				</h2>
				-->
				{{> slides}}
			</div>
			<div class="new_slide">
				<div class="adder">
					{{> addSlides}}
				</div>
				<div class="tagfilter">
					{{> tagfiltering}}
				</div>
			</div>

			<div class="fot">
				{{> footer}}
			</div>
		</div>
	</div>
</template>

		<div class="slides">
			{{#each slides}}
				{{> slide}}
			{{/each}}
		</div>

	</div>

	{{> footer}}
