<head>
	<link rel="icon" href="favicon.png" type="image/png" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meta-TV</title>
</head>

<body>
	<div id="m_header">
	</div>
</body>

<template name="dashboard">
	<div class="links">
		{{#if currentUser}}
			Welcome {{currentUser.username}}! <a class="logout" href="#">Logout</a>
		{{else}}
		<a href="{{loginurl}}">KTH Login</a>
		{{/if}}
		View Channel:
			<a href="/slideshow/1">1</a>
			<a href="/slideshow/2">2</a>
			<a href="/slideshow/3">3</a>
		<a href="/overview">Overview</a>
		<a href="https://github.com/datasektionen/Meta-TV/issues">Report a bug</a>
	</div>

	<div class="main_header">
		<h1>Meta-TV</h1>
		<p>Admin panel for the televisions in Meta</p>
		<p>
			{{#if currentUser}}
			Logged in as  {{currentUser.username}} <br><input type="button" class="login btn orange" onclick="location.href='#'" value="Log out" />
			{{else}}
			<input type="button" class="btn login" onclick="location.href='{{loginurl}}'" value="Login" />
			{{/if}}
		</p>
	</div>

	<div class="main">

		{{> infotext }}

		<div class="row">
			<div class="col s12">
				{{> addslides}}
				{{> filters}}
			</div>
		</div>

		<div class="slides">
			{{#each slides}}
				{{> slide}}
			{{/each}}
		</div>

	</div>

	{{> footer}}

</template>
