<body>
	<div id="methone_header">
	</div>
</body>
<template name="dashboard">


	<div class="main">


		<div class="center_wrapper">

			<div class="main_header">
				<h1>META-TV</h1>
				{{#if currentUser}}
					Welcome {{currentUser.username}}! <a class="logout" href="#">Logout</a>
				{{else}}
				<a href="{{loginurl}}">KTH Login</a>
				{{/if}}
			</div>

			<div class="infotext">
				<p>
					This is the control panel for META-TV. To get started, log in to your KTH-account in the top right. You will then be able to upload content to the TV:s by using the form at the bottom of this page.
				</p>
				<h3>Slides/Pages</h3>
				<p>
					When uploading something new, you first create a slide. You can then add one or multiple pages to the slides, the pages will be shown simultaneously across the screens on the screens you specify.
				</p>
				<h3>Tags</h3>
				<p>
					Tags can be used to filter content during events and other special occasions. Simply tag your content with the tag. Then it will be shown only when you're filtering the content for that specific tag by checking its box. When filtering for a tag only content with the tag will be shown.
				</p>
				<h3>Markdown</h3>
				<p>
					META-TV allows for usage of Markdown for formatting text. A basic guide can be found <a href="http://en.wikipedia.org/wiki/Markdown">here</a>.
				</p>
				<h3>Channels</h3>
				<p>
					Channels are used to separate what content are displayed on which screen. The channels are shown in order from left to right.
				</p>
				<h3>Basic rules</h3>
				<p class="important">
					<ul>
						<li>No harassments.</li>
						<li>Nothing extremely inappropriate.</li>
						<li>Slides containing commercials for alcoholic beverages must always contain alcohol-free alternatives.</li>
					</ul>
				</p>
			</div>

			<div class="slide_handler">
				<h1 id="h1_slides">Slides</h1>
				<!--
				<h2 id="h2_history">
					<a href="/history">History</a>
				</h2>
				-->
				{{> slides}}
			</div>
			<div class="new_slide">
				<div class="adder">
					{{> addSlides}}
				</div>
				<div class="tagfilter">
					{{> tagfiltering}}
				</div>
			</div>

			<div class="fot">
				{{> footer}}
			</div>
		</div>
	</div>
</template>


<template name="slides">
	<div class="slides">
		{{#each slides}}
		{{> slide}}
		{{/each}}
	</div>
</template>

	{{> footer}}
