<template name="footer">
	<footer class="fot">
		<span>
			<b>Built with &hearts; by Crash &amp; Bränn</b>
		</span>
		<div class="authors">
            <span class="author">Andreas Linn</span>
            <span class="author">Daniil Pintjuk</span>
            <span class="author">Marcus Heine</span>
            <span class="author">Mattias Danielsson</span>
            <span class="author">Aron Strandberg</span>
            <span class="author">Jesper Simonsson</span>
		</div>
	</footer>
</template>
