<template name="overview">
	<div class="overview-bg slides-wrapper">
		<iframe src="/slideshow" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
		<iframe src="/slideshow/1" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
		<iframe src="/slideshow/2" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
		
		<iframe src="/slideshow/3" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
		<iframe src="/slideshow/4" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>	
		<iframe src="/slideshow/5" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>

		<iframe src="/slideshow/6" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
		<iframe src="/slideshow/7" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="/slideshow/8"></iframe>	
		<iframe src="/slideshow/8" height="33.3%" width="33%" seamless="seamless" scrolling="no" style="overflow: hidden; border:none"></iframe>
	</div>
</template>