<template name="page">
	<div class="col s12 m6 l3">
		<div class="card">
			{{#if equals type "youtube"}}
				<img src="http://img.youtube.com/vi/{{link}}/0.jpg">
			{{/if}}
			{{#if equals type "external img"}}
				<div class="card-image">
					<img src="{{link}}">
					{{#if badDimensions}}
						<div class="image-error">
							Image is not 1920x1080. It might not display as intended
						</div>
					{{/if}}
				</div>
			{{/if}}
			{{#if equals type "local img"}}
				<div class="card-image">
					<img src="{{link}}">
					{{#if badDimensions}}
						<div class="image-error">
							Image is not 1920x1080. It might not display as intended
						</div>
					{{/if}}
				</div>
			{{/if}}
			{{#if equals type "website"}}
				<div class="card-image">
					<iframe src="{{link}}" seamless="seamless" scrolling="no"></iframe>
					<div class="card-action">
						<a href="{{link}}">Visit page</a>
					</div>
				</div>

			{{/if}}
			{{#if canhazedit}}
				<textarea class="update_markdown" cols="30" rows="10">{{body}}</textarea>
				<button class="update">Update</button>
			{{else}}
				{{#if equals type "html"}}
					<div class="box">
						{{{body}}}
					</div>
				{{else}}
					{{#if equals type "markdown"}}
						<div class="box">
							{{#markdown}}{{body}}{{/markdown}}
						</div>
					{{/if}}
				{{/if}}
			{{/if}}

			{{#if currentUser}}
			<div class="card-content">
				<div class="row">
					<div class="input-field col s12">
						<input class="screenselector" type="number" min=1 max=3 value="{{screen}}" />
						<label class="active">Screen</label>
					</div>
					<div class="input-field col s12">
						<button class="removepage btn full-width">Remove page</button>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</template>
