<template name="page">
	<div class="clearfloat vert_flexbox" style="order: {{screen}};">
		<imagehandler>
		{{#if equals type "youtube"}}
			<img src="http://img.youtube.com/vi/{{link}}/0.jpg">
		{{/if}}
		{{#if equals type "external img"}}
			<img src="{{link}}">
		{{/if}}
		{{#if equals type "local img"}}
			<img src="{{link}}">
		{{/if}}
		{{#if equals type "website"}}
				<iframe src="{{link}}" style="width:14em; height:6.7em;" seamless="seamless" scrolling="no">
				</iframe>
				{{link}}
		{{/if}}
		{{#if canhazedit}}
			<textarea class="update_markdown" cols="30" rows="10">{{body}}</textarea>
			<button class="update">Update</button>
		{{else}}
			{{#if equals type "html"}}
				<div class="box">
					{{{body}}}
				</div>
			{{else}}
				{{#if equals type "markdown"}}
					<div class="box">
						{{#markdown}}{{body}}{{/markdown}}
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
		</imagehandler>
		
		{{#if currentUser}}
		<div class="hori_flexbox" style="justify-content:space-between; width:14em;">
			<input class="screenselector" type="number" min=1 max=14 value="{{screen}}" />
			<button class="remove">Remove</button>
		</div>
		{{/if}}
	</div>
</template>