<template name="slide">
	<article>

		<table>
			<tr>
				<td>Name</td>
				<td>{{name}}</td>
			</tr>
			<tr>
				<td>id</td>
				<td>{{_id}}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{type}}</td>
			</tr>
			<tr>
				<td>Expire</td>
				<td>
					<date>{{#if expire}} {{expire}} {{else}} Never {{/if}}</date>
				</td>
			</tr>
			<tr>
				<td>Created by</td>
				<td>
					<date>{{createdBy}}</date>
				</td>
			</tr>
			{{#if currentUser}}
				<tr>
					<td>Actions</td>
					<td>
						<button class="remove">Remove</button>
						{{#if equals type "markdown"}}
							<button class="edit">Edit</button>
						{{/if}}
						{{#if equals type "html"}}
							<button class="edit">Edit</button>
						{{/if}}
					</td>
				</tr>
			{{/if}}
			<tr>
				<td>Tags:</td>
				<td>
					<!-- this is cousing some kind of error,
							Exception in queued task: badSequenceError
							see console.log -->
					{{#each tags}}
					{{this}},
					{{/each}}
				</td>
			</tr>
			<tr>
			<td>Only show when filter by tags</td>
			<td>{{onlywhenfiltering}}</td>
			</tr>
		</table>

		{{#if pages}}
			{{#each pages}}
				{{> page}}
			{{/each}}
		{{else}}
			<em>No pages! create at least one</em>
		{{/if}}

	</article>
	<hr>
</template>