<!-- uploads a page -->
<template name="uploader">
	<div class="add-page col s12 m6 l3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Add page</span>
			
			<div class="input-field col s12">
				<select class="{{_id}}type type_group">
					<option value="external img" selected>Link to image</option>
					<option value="local img">Upload image</option>
					<option value="website">Link to website</option>
					<option value="html">HTML</option>
					<!-- <option value="youtube">YouTube</option> -->
					<!-- <option value="markdown">Markdown</option> -->
					<!-- <option value="video">HTML5 Video</option> -->
				</select>
			</div>

			<div class="input-field col s12">
				<select class="{{_id}}channel channel_group">
					<option value="1" selected>Screen 1</option>
					<option value="2">Screen 2</option>
					<option value="3">Screen 3</option>
				</select>
			</div>

			<script type="text/javascript">
				$(".{{_id}}type").material_select();
				$(".{{_id}}channel").material_select();
			</script>

			{{#if isHTML}}
				<div class="row">
					<div class="input-field col s12">
						<textarea id="html-textarea" class="{{_id}}html materialize-textarea"></textarea>
						<label for="html-textarea" class="active">HTML</label>
					</div>
				</div>
			{{else}}{{#if isMarkdown}}
				<div class="input-field col s12">
					<input class="{{_id}}link active" type="text">
					<!-- <label>Background image url</label> -->
				</div>
				<div class="input-field col s12">
					<textarea class="{{_id}}markdown materialize-textarea" cols="23" rows="4" ></textarea>
					<!-- <label class="active">Markdown</label> -->
				</div>
			{{else}}{{#if isYoutube}}
				<input class="{{_id}}link" type="text">
				<label>Video ID</label>
			{{else}}{{#if internal}}
				<form action="#">
					<div class="file-field input-field">
						<div class="btn">
							<span>File</span>
							<input class="{{id}}file" type="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
				</form>
				<p class="error"> {{internal_filetype_error}}</p>
			{{else}}{{#if isVideo}}
				<input class="{{_id}}link" type="text">
				<label>Video-file link</label>
			{{else}}
				<div class="input-field col s12">
					<input class="{{_id}}link" type="text">
					<label>Link</label>
				</div>
				<p class="error">{{link_input_error}}</p>
			{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}

			<div class="card-action">
				{{#if currentUser}}
					{{#if uploading}}
						<p>Uploading, please wait…</p>
					{{else}}
						<button class="send btn full-width">Add page</button>
					{{/if}}
				{{else}}
					<p class="error">Please log in to add pages</p>
				{{/if}}
			</div>
		</div>
	</div>
	</div>
</template>
