<template name="uploader">
	{{#if currentUser}}
	<h2>Add page</h2>
		<table>
			<tr class="spaceUnder">
				<td>Parent slide</td>
				<td style="text-align: left">
					<select class="parentSlide">
						{{#each slides}}
							<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</td>
			</tr>
			<tr class="spaceUnder">
				<td>Type</td>
				<td style="text-align: left">
					<select class="type">
						<option value="external img">Link to image</option>
						<option value="local img">Upload image</option>
						<option value="youtube">Youtube</option>
						<option value="markdown">Markdown</option>
						<option value="html">HTML</option>
						<option value="website">Website</option>
						<option value="video">HTML5 Video</option>
					</select>
				</td>
			</tr>

			<tr class="spaceUnder">
				<td>Screen</td>
				<td style="text-align: left">
					
					<select class="channel">
						<optgroup label="Screens">
							<option value="1">First Screen</option>
							<option value="2">Second Screen</option>
							<option value="3">Third Screen</option>
							<option value="4">Fourth Screen</option>
							<option value="5">Fifth Screen</option>
							<option value="6">Sixth Screen</option>
							<option value="7">Seventh Screen</option>
							<option value="8">Eight Screen</option>
							<option value="9">Ninth Screen</option>
						</optgroup>
						<optgroup label="Jumbotrons">
							<option value="10">Jumbotron One</option>
							<option value="11">Jumbotron Two</option>
							<option value="12">Blimp</option>
						</optgroup>
					</select>
				</td>
			</tr>


			{{#if isHTML}}
				<tr class="spaceUnder">
					<td>HTML</td>
					<textarea class="html" cols="23" rows="4" ></textarea>
				</tr>
			{{else}}
				{{#if isMarkdown}}
					<tr class="spaceUnder">
						<td>Bg image url</td>
						<input class="link" type="text">
					</tr><tr>
						<td>Markdown</td>
						<textarea class="markdown" cols="23" rows="4" ></textarea>
					</tr>
				{{else}}
					{{#if isYoutube}}
						<tr class="spaceUnder">
							<td>Video id</td>
							<td>
							<input class="link" type="text">
							</td>
						</tr>
					{{else}}
						{{#if internal}}
							<tr class="spaceUnder">
								<td>File</td>
								<td> <input class="file" type="file"/> </td>
								<td class="error"> {{internal_filetype_error}} </td>
							</tr>
						{{else}}

							{{#if isVideo}}
								<tr class="spaceUnder">
									<td>Video-file link</td>
									<td>
									<input class="link" type="text">
									</td>
								</tr>
							{{else}}
									
								<tr class="spaceUnder">
									<td>Link</td>
									<td style="vertical-align: left">
										<input class="link" type="text">
									</td>
									<td class="error">{{link_input_error}}</td>
								</tr>
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<tr>
				<td></td>
				<td>
					<button class="send">Upload</button>
				</td>
			</tr>
		</table>
	{{/if}}
</template>
