<template name="dashboard">
	<div class="login">
		{{#if currentUser}}
			<a class="logout" href="#">Logout {{currentUser.username}}</a>
		{{else}}
			<a href="{{loginurl}}">KTH Login</a>
		{{/if}}
	</div>
	<div style="margin:4em;">
		<div style="width:250px;
								float:right;
								overflow:hidden;
								">
			<a href="/history"><h1>History</h1></a>
			{{> history}}
		</div>
		<h1>Slides</h1>
		<div style="padding-right:20px;width:auto;position:relative;overflow:hidden;">
			{{> slides}}
		</div>
		<h1>Add</h1>
		{{> uploader}}
		<div class="tagfilteringstuff">
			{{> tagfiltering}}
		</div>
		<div class="Policy">
			<h1>Policy</h1>
			<p>All KTH students can post there own slides and or remove others. Please no NSFW. Everythings is logged. I SEE YOU and will PERMA BAN any one how misuses this service. Please don't spread the link everywere. And BTW when we are at it, I take no responsibility bla bla very legal binding...</p>
		</div>
		{{> footer}}
	</div>
</template>

<template name="tagfiltering">
	<h1>Tag filtering</h1>
	Will reset automagically at 05:00 every day.
	{{#each tagmode}}
		<div class="tag">
			{{tag}}
			{{#if currentUser}}
			<button class="remover">x</button>
			{{/if}}
		</div>
	{{/each}}
	{{#if currentUser}}
		<input class="adders" type="text">
		<button>Add</button>
	{{/if}}
</template>

<template name="slides">
	<div class="slides">
		{{#each slides}}
			{{> slide}}
		{{/each}}
	</div>
</template>

<template name="footer">
	<footer>
		Created by <a href="mailto:anlinn@kth.se">Andreas Linn</a> and Daniil Pintjuk in like 2 hours, so don't complain. If you want to complain do so here: https://github.com/sootn/Meta-TV/issues. Contributions in form of pull requests are welcome.
	</footer>
</template>