<template name="dashboard">
	{{> loginButtons align="right"}}
	<div style="margin:4em;">
		<div style="width:250px;
								float:right;
								overflow:hidden;
								">
			<a href="/history"><h1>History</h1></a>
			{{> history}}
		</div>
		<h1>Slides</h1>
		<div style="padding-right:20px;width:auto;position:relative;overflow:hidden;">
			{{> slides}}
		</div>
		<h1>Add</h1>
		{{> uploader}}
		<div class="Policy">
			<h1>Policy</h1>
			<p>All KTH students can post there own slides and or remove others. Please no NSFW. Everythings is logged. I SEE YOU.</p>
		</div>
		{{> footer}}
	</div>
</template>

<template name="slides">
	<div class="slides">
		{{#each slides}}
			{{> slide}}
		{{/each}}
	</div>
</template>

<template name="footer">
	<footer>
		Created by <a href="http://sootn.se">Andreas Linn</a>
	</footer>
</template>